<div class="card">
  <div class="card-header h4">วิสัยทัศน์ (Vision)</div>
  <div class="card-body">
    <div>
      เป็นศูนย์กลางการให้บริการที่เป็นเลิศ เพื่อสนับสนุนพันธกิจของมหาวิทยาลัย
    </div>
  </div>
</div>
ิ<br />
<div class="card">
  <div class="card-header h4">พันธกิจ (Mission)</div>
  <div class="card-body">
    <div>
      1. มุ่งพัฒนาบุคลากรด้านทักษะ วิชาชีพ ประสบการณ์และสวัสดิการที่เพียงพอ
      <br />
      2. มุ่งพัฒนากระบวนการที่มีคุณภาพ <br />
      3. มุ่งพัฒนาระบบสารสนเทศเพื่อการบริหารจัดการที่มีประสิทธิภาพ
    </div>
  </div>
</div>
<br />
<div class="card">
  <div class="card-header h4">ประเด็นยุทธศาสตร์ (Strategic Issues)</div>
  <div class="card-body">
    <div>
      1. การพัฒนาบุคลากรด้านทักษะ ความรู้ และประสบการณ์วิชาชีพ
      ให้เป็นไปตามสมรรถนะ
      <br />
      2. การพัฒนากระบวนการในการทำงานให้เกิดคุณภาพอย่างต่อเนื่อง <br />
      3. การพัฒนาระบบสารสนเทศเพื่อการบริหารจัดการที่มีประสิทธิภาพ
    </div>
  </div>
</div>
<br />
<div class="card">
  <div class="card-header h4">เป้าประสงค์ (Goals)</div>
  <div class="card-body">
    <li>ความพึงพอใจของผู้รับบริการ</li>
    <li>ข้อมูลถูกต้องแม่ยำ</li>
    <li>กระบวนการทำงานที่มีประสิทธิภาพ</li>
    <li>ระบบพัฒนากายภาพและบำรุงรักษาที่มีประสิทธิภาพ</li>
    <li>ระบบบริหารความเสี่ยงที่มีประสิทธิภาพ</li>
    <li>การลดรอบระยะเวลาการทำงานและบริการ</li>
    <li>การพัฒนาบุคลากรตามสมรรถนะอย่างต่อเนื่อง</li>
    <li>ระบบการจัดการองค์ความรู้ขององค์กร</li>
    <li>การพัฒนาระบบสารสนเทศที่มีประสิทธิภาพเพื่อการตัดสินใจ</li>
    <li>การวิจัยสถาบัน</li>
    <li>การควบคุมต้นทุนและค่าใช้จ่ายอย่างมีประสิทธิภาพ</li>
    <li>การบริหารทรัพยากรที่มีประสิทธิภาพ</li>
    <li>การบริหารทรัพย์สินเพื่อให้เกิดรายได้</li>
  </div>
</div>
