<div class="card" style="text-align: center">
  <div class="card-header h4">มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตศรีราชา</div>
  <div class="card-body">
    <div>
      199 ถนนสุขุมวิท ตำบลทุ่งสุขลา อำเภอศรีราชา จังหวัดชลบุรี โทรศัพท์ :
      0-3835-4580-6 โทรสาร : 0-3835-1169
    </div>
    <div style="font-weight: bold">
      สำนักงานประสานงานวิทยาเขต มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตบางเขน
    </div>
    <div>50 ถนนพหลโยธิน แขวงลาดยาว เขตจตุจักร กรุงเทพมหานคร 10903</div>
    <div>
      ห้อง 701 อาคารวิทยบริการ ชั้น 7 ติดกับอาคารธนาคารกรุงศรีอยุธยา บริเวณประตู
      1
    </div>
    <div>โทรศัพท์ :0-2942-8878 , โทรสาร : 0-2942-8878</div>
  </div>
</div>
<br />
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header h4" style="text-align: center;">
        ข้อมูลทั่วไปของศิษย์เก่า
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <th>คณะวิทยาการจัดการ</th>
            ที่ตั้ง : อาคาร 10 ศูนย์เรียนรวม
            <div style="margin-left: 100px">
              <img
                src="https://www.src.ku.ac.th/info/images/location1.png"
                alt=""
              />
            </div>
          </div>
          <div class="col-6">
            <th>คณะวิศวกรรมศาสตร์ศรีราชา</th>
            ที่ตั้ง : อาคาร 2 ปฏิบัติการวิศวกรรมศาสตร์ ชั้น 1
            <div style="margin-left: 100px">
              <img
                src="https://www.src.ku.ac.th/info/images/location2.png"
                alt=""
              />
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-6">
            <th>คณะวิทยาศาสตร์ ศรีราชา</th>
            ที่ตั้ง : อาคาร 2 ปฏิบัติการวิศวกรรมศาสตร์ ชั้น 2
            <div style="margin-left: 100px">
              <img
                src="https://www.src.ku.ac.th/info/images/location2.png"
                alt=""
              />
            </div>
          </div>
          <div class="col-6">
            <th>คณะเศรษฐศาสตร์ ศรีราชา</th>
            ที่ตั้ง: อาคาร 5 วิทยาศาสตร์พื้นฐาน
            <div style="margin-left: 100px">
              <img
                src="https://www.src.ku.ac.th/info/images/location4.png"
                alt=""
              />
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-6">
            <th>คณะพาณิชยนาวีนานาชาติ</th>
            ที่ตั้ง : อาคาร 1 บริการวิทยาการ ชั้น 1
            <div style="margin-left: 100px">
              <img
                src="https://www.src.ku.ac.th/info/images/location3.png"
                alt=""
              />
            </div>
          </div>
          <div class="col-6">
            <th>สำนักงานวิทยาเขต</th>
            ที่ตั้ง : อาคาร 1 บริการวิทยาการ ชั้น 3
            <div style="margin-left: 100px">
              <img
                src="https://www.src.ku.ac.th/info/images/location3.png"
                alt=""
              />
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-6">
            <th>คณะวิทยาการจัดการ</th>
            ที่ตั้ง : อาคาร 10 ศูนย์เรียนรวม
            <div style="margin-left: 100px">
              <img
                src="https://www.src.ku.ac.th/info/images/location1.png"
                alt=""
              />
            </div>
          </div>
          <div class="col-6">
            <th>คณะวิทยาการจัดการ</th>
            ที่ตั้ง : อาคาร 10 ศูนย์เรียนรวม
            <div style="margin-left: 100px">
              <img
                src="https://www.src.ku.ac.th/info/images/location1.png"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
